.App {
  background-color: #ddffdd;
  width: 400px;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.userlist {
  flex: 1;
  background-color: #331a12;
}

.chat {
  flex: 12;
  background-color: silver;
}

.inputbox {
  flex: 1;
  background-color: gray;
}

@media screen and (max-width: 768px) {
  .userlist {
    background-color: burlywood;
  }
  .chat{
    background-color: azure;
  }
  .inputbox{
    background-color: lightgray;
  }
}