.friend-list {
  flex:1
}

.friend-list-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.imagePlus{
  left:100%;

}

.imagePlus img{
  margin: auto 5px;
  float: right; 
  top:5%;
  
}

.friend-list button {
  background: #2e2a49;
  color: #fff;
  width: 1100px;
  height: 80px;
  padding: 0.6rem;
  position:relative;
  left: 120px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.friend-list button:hover {
  cursor: pointer;
  background: #27233f;
}
@media screen and (max-width: 400px) {

  .friend-list button {
      background: #2e2a49;
      color: #fff;
      width: 300px;
      height: 50px;
      padding: 0.6rem;
      position:relative;
      left: 50px;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      font-size: 30px;
      font-weight: bold;
      text-align: left;
    }
}